@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.todo {
  text-align: left;
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo__name {
  font-family: "Roboto", sans-serif;
  font-size: 4.5vmin;
  font-weight: bold;
  margin: 3px;
  max-width: 35vw;
  word-wrap: break-word;
}

.todo__actions button:hover:not([disabled]) {
  transform: scale(1.1);
}

.todo__actions--edit {
  background-color: #000;
  color: white;
  font-size: 3vmin;
  border: none;
  border-radius: 7px;
  padding: 7px 10px;
  margin: 5px;
  cursor: pointer;
}

.todo__actions--edit:disabled {
  opacity: 0.5;
}

.todo__actions--status {
  background-color: yellow;
  color: black;
  font-size: 3.2vmin;
  border: none;
  border-radius: 7px;
  padding: 7px 10px;
  margin: 5px;
  cursor: pointer;
}

.todo__actions--del {
  background-color: #f00;
  color: white;
  font-size: 3vmin;
  border: none;
  border-radius: 7px;
  padding: 7px 10px;
  margin: 5px;
  cursor: pointer;
}
