.app {
  text-align: center;
}

.app__title {
  color: #282c34;
  font-size: calc(15px + 6vmin);
  margin: 10px;
}

.app__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-bottom: 7vh;
}

.app__form--input {
  background-color: antiquewhite;
  color: #282c34;
  outline: none;
  font-size: 3.5vmin;
  border: none;
  border-radius: 9px;
  width: 40%;
  padding: 10px 12px;
  margin: 5px;
}

.app__form--button {
  font-size: 4vmin;
  border: none;
  border-radius: 7px;
  padding: 7px 10px;
  margin: 5px;
  cursor: pointer;
}

.app__form--button:hover {
  background-color: #777;
  color: white;
}
